NEXT_PUBLIC_BACKEND_URL=http://127.0.0.1:8000

GOOGLE_CLIENT_ID=你的_CLIENT_ID
NEXT_PUBLIC_GOOGLE_CLIENT_ID=你的_CLIENT_ID
GOOGLE_CLIENT_SECRET=你的_CLIENT_SECRET

GITHUB_CLIENT_ID=你的_CLIENT_ID
NEXT_PUBLIC_GITHUB_CLIENT_ID=你的_CLIENT_ID
GITHUB_CLIENT_SECRET=你的_CLIENT_SECRET

